/*@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /*colors*/
  --primary-red: #d75b95;
  --primary-blue: #45b1f0;
  --primary-purple: #d4e1ea;
  --dark-navy: #1d2d50;
  --light-gray-bg: #f4f6f8;
  --text-gray: #3a3a3a;
  --pure-white: #ffffff;
  --color-danger: rgb(255, 0, 119);
  --color-valid: #00ffae;
  --color: rgba(69, 177, 240, 0.5);
  /*animations*/
  --header-after-width: 0;

  /*text colors*/
  --text-color: var(--text-gray);
  --text-inverse-color: var(--primary-blue);
  --text-strong-color: var(--dark-navy);

  /*font-size*/
  --font-size-xs: 0.6rem;
  --font-size-md: 0.8rem;
  --font-size-lg: 1.1rem;
  --font-size-title: clamp(1rem + 1vw, 1.2rem + 2vw, 2rem + 2vw);

  /*background color*/
  --hero-bg-color: var(--light-gray-bg);
  --bg-color: var(--dark-navy);

  /*buttons color*/
  --btn-color: var(--primary-cyan);
  --btn-color-hover: var(--primary-blue);

  /*border and box-shadow*/
  --btn-border: 1px solid var(--primary-blue);
  --border-radius-default: 4px;
  --border-radius-large: 20px;
  --border-default: 1px solid var(--primary-red);
  --border-container: 1px solid rgb(221, 221, 221);
  --box-shadow: 0 2px 7px #00000037;
  --box-shadow-hover: 0 3px 9px #00000061;

  /*unit and space*/
  --space-unit: 0.5rem;
  --space-1: calc(var(--space-unit) * 1);
  --space-2: calc(var(--space-unit) * 2);
  --space-3: calc(var(--space-unit) * 3);
  --space-4: calc(var(--space-unit) * 4);
  --space-5: calc(var(--space-unit) * 5);
  --space-6: calc(var(--space-unit) * 6);
  --space-7: calc(var(--space-unit) * 7);
  --space-8: calc(var(--space-unit) * 8);
  --space-10: calc(var(--space-unit) * 10);
  --space-16: calc(var(--space-unit) * 16);
  --space-20: calc(var(--space-unit) * 20);
}
body{
    position: relative;
    font-family: roboto;
    font-size: var(--font-size-md);
}
.sec-accueil{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-4) 0;
    background-color: color-mix(in srgb, var(--primary-blue) 5%, transparent);
}
.container-accueil{
    display: flex;
    height: 420px;
    width: 70%;
    border-radius: var(--border-radius-large);
}
.card-accueil{
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
    padding: var(--space-3);
    flex: 1;
    height: 100%;
    background-color: var(--bg-color);
    color: var(--pure-white);
    align-items: center;
    border-radius: var(--border-radius-large) 0 0 var(--border-radius-large);
}
.card-accueil h1{
    font-size: var(--font-size-title);
}
.card-accueil h1 span{
    color: var(--primary-red);
}
.card-formulaire{
    flex: 1;
    background-color: var(--primary-red);
    border-radius: 0 var(--border-radius-large)  var(--border-radius-large) 0;
}
.formulaire{
    display: flex;
    flex-direction: column;
    padding: var(--space-3);
    height: 100%;
    color: var(--pure-white);
}
.formulaire input{
    margin-bottom: 12px;
    height: var(--space-3);
    border: 1px solid var(--dark-navy);
    border-radius: var(--border-radius-default);
    padding: 5px;
    transition: scale .2s ease-in-out;
}
.formulaire input:hover{
    scale: 1.01;
    box-shadow: var(--box-shadow);
}
.formulaire input:focus{
    outline: none;
    border: 1px solid var(--primary-blue);
}
.notice{
    font-size: var(--font-size-xs);
    margin: var(--space-1) 0;
} 
.formulaire h2{
    color: var(--primary-blue);

}
.btn-accueil{
    padding: 5px 7px;
    color: var(--primary-blue);
    font-weight: bold;
    width: fit-content;
    background-color: var(--pure-white);
    margin: auto;
    border-radius: var(--border-radius-default);
    border: none;
    cursor: pointer;
    border: 1px solid var(--primary-red);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 3px;
}
.btn-accueil:hover{
    border: 1px solid var(--dark-navy);
}
.termes-contrat{
    display: flex;
    align-items: center;
    font-size: var(--font-size-xs);
}
.msg-erreur{
    font-size: .4rem;
    margin: -.7rem 0 .3rem 0;
    display: none;
}

/*section dashboard*/
.dashboard{
    display: none;
    min-height: 100vh;
    grid-template-columns: 250px 1fr;
    grid-template-rows: var(--space-6) 1fr;
}

.aside-bar{
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-navy);
    position: relative;
}
.logo{
    color: var(--primary-red);
    font-weight: bolder;
    font-size: var(--font-size-title);
    margin-bottom: var(--space-2);
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.btns-aside-bar{
    display: flex;
    flex-direction: column;
}
.btns-aside-bar button, .aside-bar button{
    height: var(--space-5);
    color: var(--pure-white);
    text-align: left;
    padding: var(--space-1);
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--space-1);
}
.btns-aside-bar img, .btn-get-out img{
    height: 18px;
    width: 18px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}
.btns-aside-bar button:hover, .btns-aside-bar button[aria-current="true"]{
    background-color: color-mix(in srgb, var(--primary-red) 20%, transparent);
}
.btn-get-out{
    position: absolute;
    left: 0;
    bottom: var(--space-3);
}
.btn-get-out:hover{
    color: red;
    background-color: color-mix(in srgb, var(--primary-red) 30%, transparent);
}
.btn-get-out:hover img{
    filter: invert(20%) sepia(100%) saturate(7500%) hue-rotate(330deg) brightness(100%) contrast(100%);
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-2);
    position: relative;
    box-shadow: var(--box-shadow);
}
.section-active-text{
    font-size: var(--font-size-lg);
    font-weight: bold;
    color: var(--primary-blue);
}
.search-bar input{
    height: var(--space-4);
    width: 280px;
    border-radius: 100px;
    border: var(--border-default);
    padding: var(--space-1);
}
.search-bar{
    top: 50%;
    position: absolute;
    left: 40%;
    transform: translate(-50%, -50%);
}
.search-bar img{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    translate: 0 -50%;
}

.search-bar input:focus{
    outline: none;
    border-color: var(--dark-navy);
}
.user-infos-nav-bar{
    display: flex;
    gap: var(--space-1);
    align-items: center;
}

.user-infos-nav-bar div{
    cursor: pointer;
}
.user-infos-nav-bar div:not(:first-child){
    height: var(--space-3);
    width: var(--space-3);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.user-infos-nav-bar div:not(:first-child):hover{
    background-color: color-mix(in srgb, var(--primary-blue) 20%, transparent);
}
.user-infos-nav-bar div img{
    height: 80%;
    width: 80%;
    border-radius: 100%;
}
.notification-nav-bar::after{
    position: fixed;
    content: 'Aucune information pour le moment 1';
    background-color: var(--pure-white);
    padding: var(--space-1);
    width: var(--space-16);
    min-height: var(--space-8);
    top: var(--space-6);
    right: var(--space-1);
    box-shadow: var(--box-shadow);
    border: var(--border-container);
    border-radius: var(--border-radius-default);
    display: none;
    translate: 0 7px;
    opacity: 0;
}
.settings-nav-bar::after{
    position: fixed;
    content: 'Aucune information pour le moment 2';
    background-color: var(--pure-white);
    padding: var(--space-1);
    width: var(--space-16);
    min-height: var(--space-8);
    top: var(--space-6);
    right: var(--space-1);
    box-shadow: var(--box-shadow);
    border: var(--border-container);
    border-radius: var(--border-radius-default);
    display: none;
    translate: 0 5px;
}
.user-profil-nav-bar::after{
    position: fixed;
    content: 'Aucune information pour le moment 3';
    background-color: var(--pure-white);
    padding: var(--space-1);
    width: var(--space-16);
    min-height: var(--space-8);
    right: var(--space-1);
    top: var(--space-6);
    box-shadow: var(--box-shadow);
    border: var(--border-container);
    border-radius: var(--border-radius-default);
    display: none;
    translate: 0 5px;
}
.recent-activity{
    display: flex;
    gap: var(--space-2);
    padding: var(--space-3);
    justify-content: space-between;
} 
.recent-activity h2{
    color: var(--primary-blue);
}
.container-recent-activity > div{
    display: flex;
    gap: var(--space-2);
}
.container-recent-activity > div div{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--space-1);
    border: var(--border-container);
    padding: var(--space-1);
    border-radius: var(--border-radius-default);
    min-width: var(--space-16);
    flex: 1;
    background-color: var(--pure-white);
}
.inventaire, .container-recent-activity{
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
}
.inventaire > div{
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
}
.inventaire > div div{
    background-color: var(--pure-white);
    display: flex;
    gap: var(--space-3);
    border: var(--border-container);
    padding: var(--space-1);
    border-radius: var(--border-radius-default);
}
.statistics{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 27%;
    justify-content: space-between;
    padding-left: var(--space-3);
    flex-grow: 1;
    background-color: var(--pure-white);
    gap: 3%;
}
.produits-plus-vendus{
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-default);
    padding: var(--space-2);
    overflow: hidden;
    position: relative;
}
.produits-plus-vendus h2{
    font-size: var(--font-size-lg);
    color: var(--primary-blue);
}
.table-produits-plus-vendus{
    text-align: left;
    border-collapse: collapse;
}
.table-produits-plus-vendus td,
.table-produits-plus-vendus th{
    padding: var(--space-1);
    border-bottom: var(--border-container);
}
.ventes-recentes{
    padding-top: var(--space-1);
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    position: relative;
}
.text-default-vente-dashboard{
    position: absolute;
    top: 70%;
    left: 50%;
    translate: -50% -50%;
    font-size: var(--font-size-lg);
    color: var(--primary-purple);
    font-weight: bold;
}


.ventes-recentes h2{
    color: var(--primary-blue);
}
.table-ventes-recentes{
    text-align: left;
    border-collapse: collapse;
}
.table-ventes-recentes td,
.table-ventes-recentes th{
    padding: var(--space-1);
    border-bottom: var(--border-container);
}
.graphique-ventes{
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
}
.graphique-plus-ventes{
    position: relative;
    height: 100%;
    width: 100%;
}
/*section des produits*/

.display-zone{
    display: flex;
    flex-direction: column;
    background-color: color-mix(in srgb, var(--primary-blue) 10%, transparent);
}
.display-zone-dashboard{
    display: none;
}
.display-zone-produits, .display-zone-commandes{
    display: none;
    padding: var(--space-3);
    background-color: var(--pure-white);
    position: relative;
}
.nav-produits, .nav-commande{
    display: flex;
    gap: var(--space-1);
    align-items: center;
    margin-bottom: var(--space-2);
    justify-content: flex-end;
    position: relative;
}
.nav-produits button, .nav-commande button{
    padding: var(--space-1);
    border: none;
    background-color: var(--primary-blue);
    color: var(--pure-white);
    border-radius: var(--border-radius-default);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--space-1);

}
.nav-produits button:hover, .nav-commande button:hover{
    background-color: var(--primary-red);
}   
.nav-produits button:first-child, .nav-commande div{
    position: absolute;
    left: 0;
    background-color: transparent;
    color: var(--primary-blue);
    font-weight: bolder;
    font-size: var(--font-size-lg);
}
.container-table-produits, .container-table-commande{
    overflow: auto;
    height: 100%;
    width: 100%;
    position: relative;
}
.table-produits, .table-commande{
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}
.table-produits td,
.table-produits th,
.table-commande td,
.table-commande th{
    padding: var(--space-1);
    border-bottom: var(--border-container);
}
.table-commande td, .table-produits td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table-commande tr{
    position: relative;
}
.table-produits tr:not(thead tr):hover, .table-commande tr:not(thead tr):not(.commandeValide):hover{
    background-color: color-mix(in srgb, var(--primary-blue) 20%, transparent);
}
.container-ajouter-produit, .container-ajouter-commande{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.form-ajouter-produit, .form-commande{
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    width: 400px;
    padding: var(--space-3);
    background-color: var(--pure-white);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-default);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.form-ajouter-produit input, .form-commande input{
    height: var(--space-3);
    border: var(--border-container);
    border-radius: var(--border-radius-default);
    padding: 5px;
    transition: scale .2s ease-in-out;
}

.form-ajouter-produit input:focus, .form-commande input:focus{
    outline: none;
    border-color: var(--primary-blue);
}
.form-ajouter-produit input:hover, .form-commande input:hover{
    scale: 1.01;
}
.form-ajouter-produit legend , .form-commande legend{
    font-size: var(--font-size-lg);
    font-weight: bold;
    color: var(--primary-blue);
}
.btn-ajouter-produit, .btn-ajouter-commande{
    padding: var(--space-1);
    border: none;
    background-color: var(--primary-blue);
    color: var(--pure-white);
    border-radius: var(--border-radius-default);
    cursor: pointer;
    transition: transform .2s ease;
}

.btn-ajouter-commande:active, .btn-ajouter-produit:active{
    transform: scale(.98);
}
.btn-action-commande{
    cursor: pointer;
    position: relative;
    font-family: montserrat;
    font-weight: 900;
    background-color: transparent;
    border: none;
}
.btn-action-commande:hover{
    color: var(--primary-blue);
}
.action-commande-menu{
    position: absolute;
    bottom: calc((-1) * var(--space-8));
    right: var(--space-6);
    background-color: var(--pure-white);
    border-radius: var(--border-radius-default);
    box-shadow: var(--box-shadow);
    width: var(--space-16);
    display: flex;
    background-color: var(--pure-white);
    flex-direction: column;
    z-index: 1;
}
.valider-commande, .annuler-commande{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    cursor: pointer;
    padding: var(--space-1);
}
.valider-commande img, .annuler-commande img{
    height: 15px;
}
.valider-commande{
    color: var(--color-valid);
    border-bottom: var(--border-container);
}
.valider-commande:hover{
    background-color: color-mix(in srgb, var(--color-valid) 10%, transparent);
}
.annuler-commande{
    color: var(--color-danger);
}
.annuler-commande:hover{
    background-color: color-mix(in srgb, var(--color-danger) 10%, transparent);
}

.text-default-ajouter-produit, .text-default-commande{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: var(--font-size-lg);
    color: var(--dark-navy);
    font-weight: bold;
}
.container-idProduit-client{
    display: flex;
    gap: var(--space-1);
}
.container-liste-bouton{
    display: flex;
    gap: var(--space-1);
}
.container-liste-bouton select{
    flex-grow: 1;
    border: var(--border-container);
    border-radius: var(--border-radius-default);
}
.container-liste-bouton button{
    display: flex;
    padding: var(--space-1);
    border: none;
    background-color: var(--primary-blue);
    color: var(--pure-white);
    border-radius: var(--border-radius-default);
    cursor: pointer;
    align-items: center;
}
.produits-ajoute-liste{
    width: 100%;
    height: 120px;
    border: var(--border-container);
    border-radius: var(--border-radius-default);
    position: relative;
    padding: var(--space-1);
    display: flex;
    flex-direction: column;
    gap: 3px;
    overflow-y: auto;
    scrollbar-width: none;
}
.text-default-produits-ajoute{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: 0.5;
}
.container-prix-total{
    display: flex;
    justify-content: space-between;
    margin-top: var(--space-1);
    font-weight: bolder;
}
.produit-ajoute{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    border: var(--border-container);
    border-radius: var(--border-radius-default);
    align-items: center;
}
.produit-ajoute button{
    padding: 4px 7px;
}
.produit-ajoute div:first-child{
    display: flex;
    flex-direction: column;
}
.produit-ajoute div:last-child{
    display: flex;
    align-items: center;
    gap: var(--space-2);
}
.produit-ajoute div div:first-child {
    display: flex;
    flex-direction: row;
    gap: var(--space-1);
    align-items: center;
}
.produit-ajoute div div:first-child button{
    border: var(--btn-border);
    background-color: color-mix(in srgb, var(--primary-blue) 10%, transparent);
    border-radius: var(--border-radius-default);
    width: 24px;
}
.produit-ajoute div div button:first-child:active{
    border-color: color-mix(in srgb, var(--color-danger) 50%, transparent);
    background-color: color-mix(in srgb, var(--color-danger) 3%, transparent);
}
.produit-ajoute div div button:last-child:active{
    border-color: color-mix(in srgb, var(--color-valid) 50%, transparent);
    background-color: color-mix(in srgb, var(--color-valid) 10%, transparent);
}
.produit-ajoute div button{
    border: 1px solid var(--color-danger);
    border-radius: var(--border-radius-default);
    background-color: color-mix(in srgb, var(--color-danger) 8%, transparent);
}
.produit-ajoute button:active{
    border-color: color-mix(in srgb, var(--color-danger) 50%, transparent);
    background-color: color-mix(in srgb, var(--color-danger) 3%, transparent);
}

.produit-ajoute > div span:first-child{
    font-weight: bold;
}
.produit-ajoute div span:last-child{
    font-size: var(--font-size-xs);
    opacity: 0.8;
}


.display-zone-stocks{
    display: none;
    flex-direction: row;
    padding: var(--space-3);
    gap: var(--space-2);
}

.nav-produits button:first-child, .nav-commande div{
    position: absolute;
    left: 0;
    background-color: transparent;
    color: var(--primary-blue);
    font-weight: bolder;
    font-size: var(--font-size-lg);
}
.container-table-stocks{
    overflow: auto;
    height: 100%;
    width: 100%;
    position: relative;
}

.table-stocks td,
.table-stocks th{
    padding: var(--space-1);
    border-bottom: var(--border-container);
}
.table-stocks{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}
.table-stocks tr:not(thead tr):hover{
    background-color: color-mix(in srgb, var(--primary-blue) 20%, transparent);
}
.container-stocks{
    background-color: var(--pure-white);
    padding: var(--space-2);
    border-radius: var(--border-radius-large);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}
.container-stocks h2, .container-apercu-stock h3{
    color: var(--primary-blue);
}
.container-apercu-stock{
    padding: var(--space-2);
    background-color: var(--pure-white);
    border-radius: var(--border-radius-large);
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    width: 30%;
}
.charts-apercu-produits-stock{
    height: 100%;
    width: 100%;
}

.container-apercu-produits-stock div{
    display: flex;
    justify-content: space-between;
    padding: var(--space-1);
    border-bottom: var(--border-container);
}
.text-default-stocks{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: var(--font-size-lg);
    font-weight: bold;
    color: var(--dark-navy);
}


.display-zone-ventes{
    display: none;
    padding: var(--space-3);
    gap: var(--space-2);
    position: relative;
}

.display-zone-ventes > div{
    display: flex;
    gap: var(--space-2);
    height: 100%;
}
.container-table-ventes{
    width: 70%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    background-color: var(--pure-white);
    border-radius: var(--border-radius-large);
    padding: var(--space-2);
    position: relative;
}
.container-table-ventes h3{
    color: var(--primary-blue);
}
.table-ventes td,
.table-ventes th{
    padding: var(--space-1);
    border-bottom: var(--border-container);
}
.table-ventes{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}
.table-ventes tr:not(thead tr):hover{
    background-color: color-mix(in srgb, var(--primary-blue) 20%, transparent);
}

.container-apercu-ventes{
    padding: var(--space-2);
    background-color: var(--pure-white);
    border-radius: var(--border-radius-large);
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    width: 30%;
}
.container-apercu-ventes h3{
    color: var(--primary-blue);
}
.container-chart-apercu-ventes{
    height: 100%;
    width: 100%;
}

.container-apercu-produits-ventes div{
    display: flex;
    justify-content: space-between;
    padding: var(--space-2);
    border-bottom: var(--border-container);
}
.text-default-ventes{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: var(--font-size-lg);
    font-weight: bold;
    color: var(--dark-navy);
}
.text-default-produits-plus-vendus{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-weight: bold;
    font-size: var(--font-size-xs);
    color: var(--dark-navy);
}




.display-zone-clients{
    display: none;
    justify-content: center;
    align-items: center;
}
.display-zone-commandes{
    display: none;

}
